@import "./Constants.scss";

.button-container {
  margin-top: 2vw;
}

.standard-button {
  font-size: $desktopButtonFontSize;
  line-height: $desktopButtonLineHeight;
  text-decoration: none;
  font-weight: bold;
  padding: 10px 20px;
  color: $primaryColour;
  border: $primaryColour solid;
  margin: 1%;

  &:hover {
    background-color: $primaryColour;
    color: $backgroundColour;
  }
}

.interaction-button {
  font-size: $interactionButtonFontSize;
  line-height: $interactionButtonLineHeight;
  background-color: $darkerBackgroundColour;
  color: $primaryColour;
  border: $primaryColour solid 1px;

  &:hover {
    background-color: $primaryColour;
    color: $darkerBackgroundColour;
  }
}
