button {
    font-size: 24px;
    line-height: 40px; 
    font-weight: bold;
    padding: 10px 20px;  
    color: #2985ff;
    border: #2985ff solid;
    margin: 1%;
    
    &:hover {
    background-color: #2985ff;
    color: #252a38;
      }
    }