$backgroundColour: #252a38;
$transparentBackgroundColour: rgba(37, 42, 56, 56);
$darkerBackgroundColour: #151820;
$primaryColour: #2985ff;
$foregroundColour: #dcdcdc;

$desktopTitleFontSize: 32px;
$desktopTitleLineHeight: $desktopTitleFontSize + 8px;

$desktopSubTitleFontSize: 24px;
$desktopSubTitleLineHeight: $desktopSubTitleFontSize + 8px;

$desktopButtonFontSize: 24px;
$desktopButtonLineHeight: $desktopButtonFontSize + 16px;

$desktopBodyFontSize: 16px;
$desktopBodyLineHeight: $desktopBodyFontSize + 8px;

$desktopSecondaryFontSize: 12px;
$desktopSecondaryLineHeight: $desktopSecondaryFontSize + 8px;
