@import "./Constants.scss";

.nav-bar {
    background-color: $darkerBackgroundColour;
    font-size: $desktopSubTitleFontSize;
    line-height: $desktopSubTitleLineHeight;
    padding: 1% 0%;
    margin-bottom: 4px;
    display: flex;
    justify-content: space-between;
    padding: 0 12vw;
    width: 100%;
}

.nav-options {
    display: flex;
}

.nav-link {
    background-color: $darkerBackgroundColour;
    padding: 0 0 0 3rem;
    text-decoration: none;
}

nav a:hover {
    color: $primaryColour;
}

.nav-container {
    background-color: $darkerBackgroundColour;
    display: flex;
    justify-content: right;
    padding: 0;
}
