.nav-bar {
    background-color: #151820;
    font-size: large;
    padding: 1% 0%;
    margin-bottom: 4px;
    display: flex;
    justify-content: space-between;
    padding: 0 12vw;
    width: 100%;

}

.nav-options {
    display: flex;
}

.nav-link {
    background-color: #151820;
    padding: 0 0 0 3rem;
    text-decoration: none;
}

nav a:hover {
    color: #2985FF;
}

.nav-container {
    background-color: #151820;
    display: flex;
    justify-content: right;
    padding: 0;
}
