@import "Constants";

.post {
    width: 25%;
    margin: 1%;
    background-color: $darkerBackgroundColour;
    .image {
        max-width: 100%;
    }

    .interaction-button-container {
        display: flex;
        justify-content: space-around;
        background-color: $darkerBackgroundColour;
    }

    p {
        background-color: $darkerBackgroundColour;
        padding-left: 2%;
    }
}

.post-thumbnail {
    background-color: $darkerBackgroundColour;
    margin: 2%;
    width: 100%;

    .image {
        max-width: 100%;
    }

    .interaction-button-container {
        display: flex;
        justify-content: space-around;
        background-color: $darkerBackgroundColour;
    }

    p {
        background-color: $darkerBackgroundColour;
        padding-left: 2%;
        white-space: initial;
    }
}
