@import "Constants";

.post {
    width: 25%;
    margin: 1%;
    background-color: $darkerBackgroundColour;
    .image {
        max-width: 100%;
    }

    .interaction-container {
        display: flex;
        justify-content: space-between;
        background-color: $darkerBackgroundColour;

        .interaction-button-container {
            display: flex;
            justify-content: space-around;
            background-color: $darkerBackgroundColour;
        }
    }
    p {
        background-color: $darkerBackgroundColour;
        padding-left: 2%;
    }
}

.post-thumbnail {
    background-color: $darkerBackgroundColour;
    margin: 2%;
    width: 100%;
    height: 25vw;

    .image {
        max-width: 100%;
    }

    .interaction-container {
        display: flex;
        justify-content: space-between;
        background-color: $darkerBackgroundColour;

        .interaction-button-container {
            display: flex;
            justify-content: space-around;
            background-color: $darkerBackgroundColour;
        }
    }

    p {
        padding-left: 2%;
        background-color: $darkerBackgroundColour;
        white-space: initial;
    }
}
