@import "Constants";

.posts-scroll-title {
    font-size: $desktopSubTitleFontSize;
    line-height: $desktopSubTitleLineHeight;
}

.posts-scroll-container {
    display: grid;
    grid-template-columns: repeat(10, 14vw);
    grid-template-rows: 45vw;
    height: 25vw;
    column-gap: 2%;
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
}
