@import 'Constants';

.users-list {
    margin-top: 3%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    padding-inline-start: 0%;
}

.user {
    display: flex;
    flex-direction: column;
    align-content: space-between;
    width: 15%;
    margin: 1%;
    padding: 1%;
    background-color: $darkerBackgroundColour;
    text-decoration: none;
}

.profile-image {
    width: 95%;
    margin: 1%;
    border-radius: 100%;
    border: $foregroundColour 2px solid;
}

.user-name {
    text-align: center;
    background-color: $darkerBackgroundColour;
}