.users {
    display: flex;
    
}
.user {
    margin : 10px;
    padding: 5px;
    border: 1px solid beige
    
}
.profile-image {
    width:100px;
    height: 100px;
    
}

.user-name {
    color: #15403f;
    text-align: center;
}