body {
    background-color: #252a38;
}
.user-details {
    background-color: #252a38;
}
.cover-image {
    width: 80%;
    height: auto;
    margin-left: 20%;
    margin-right: 20%;
    position: relative;
    z-index: 1;
}

.user-info {
    display: grid;
    grid-template-columns: 20% 20% auto;
    grid-template-rows: 33% 33% 33%;
}
.profile-image {
    // width: 15%;
    // height: auto;
    border-radius: 100%;
    border: white 2px solid;
    // z-index: 4;

}

.full-name {
    position:relative;
    color: beige;
}
.username {
    margin-left: 200px;
    color: beige;
}
.user-email {
    margin-left: 200px;
    color: beige;
}
