@import ".//src/components/Styles/Constants.scss";

* {
  font-family: "Segoe UI", "Open Sans";
  color: $foregroundColour;
  background-color: $backgroundColour;
}

.main {
  width: 80vw;
  margin: 0 10vw;
}

.title {
  font-size: $desktopTitleFontSize;
  line-height: $desktopTitleLineHeight;
  font-weight: 400;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}
